@model IEnumerable<Progetto_Settimanale_Vescio_Pia_Francesca.Models.AuthModel>

@{
    ViewData["Title"] = "AllUser";
}

<h1>AllUser</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Register" asp-controller="Auth">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
                <td>
                    @foreach(var roles in item.Roles)
                    {
                        @roles
                    }
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="DetailUser" asp-controller="Auth" asp-route-id="@item.Id">Dettaglio</a>
                    <a class="btn btn-primary btn-sm" asp-action="RemoveUser" asp-controller="Auth" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
