@model IEnumerable<Progetto_Settimanale_Vescio_Pia_Francesca.Models.RoomModel>

@{
    ViewData["Title"] = "AllRooms";
}

<h1>AllRooms</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="RegisterRoom" asp-controller="Room">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofRoom)
            </td>
            <td>
                    <a class="btn btn-primary btn-sm" asp-action="UpdateRoom" asp-controller="Room" asp-route-id="@item.Id">Modifica</a>
                    <a class="btn btn-primary btn-sm" asp-action="DeleteRoom" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-primary">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
